@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Quicksand:wght@500;600&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 12pt;
}

body {
	display: flex;
}

#app {
	width: 100%;
}
